{% extends "base.html" %}

{% load static %}

{% block title %}{{ category.name }} Cheatsheets - DevCheatHub{% endblock %}

{% block content %}
<div class="container">
    {% if category.parent %}
        <a href="{% url 'category_detail' category.parent.slug %}" class="breadcrumb">&larr; Back to {{ category.parent.name }} Topics</a>
    {% else %}
        <a href="{% url 'category_list' %}" class="breadcrumb">&larr; Back to All Categories</a>
    {% endif %}
    <h1 class="page-title">{{ category.name }}</h1>
    <div class="list-container">
        {% for sheet in page_obj  %}
        <a href="{% url 'cheatsheet_detail' sheet.slug %}" class="list-item-link">
            <div class="list-item">
                <div>
                    <h2 class="list-item-title">{{ sheet.title }}</h2>
                    <p class="list-item-description">{{ sheet.description }}</p>
                </div>
            </div>
        </a>
        {% empty %}
        <p>There are no cheatsheets in this category yet.</p>
        {% endfor %}
    </div>

    {% include 'partials/pagination.html' %}
</div>
{% endblock %}