{% extends "base.html" %}
{% load static %}

{% block body_class %}landing-page-body{% endblock %}

{% block title %}DevCheatHub - Coming Soon{% endblock %}

{% block header %}{% endblock header %}

{% block content %}

<div class="landing-content">
    <div class="floating-icons">
        <img src="{% static 'img/icons/python.svg' %}" class="icon icon-1" alt="Python">
        <img src="{% static 'img/icons/django.svg' %}" class="icon icon-2" alt="Django">
        <img src="{% static 'img/icons/react.svg' %}" class="icon icon-3" alt="React">
        <img src="{% static 'img/icons/docker.svg' %}" class="icon icon-4" alt="Docker">
        <img src="{% static 'img/icons/git.svg' %}" class="icon icon-5" alt="Git">
    </div>

    <h1 class="landing-title">DevCheatHub</h1>
    <p class="landing-tagline">The Developer's Ultimate Reference. Coming Soon.</p>
    <a href="{% url 'category_list' %}" class="btn btn-primary" style="margin-top: 3rem;">Explore Cheatsheets</a>
</div>
{% endblock %}